---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import slugify from "slugify";
import bible from "../data/en_kjv.json";
import Chapter from "../components/Chapter.astro";

export async function getStaticPaths() {
	return bible.map((post) => ({
		params: { book: slugify(post.name, { lower: true }) },
		props: { book: post }
	}));
}

const { book } = Astro.props;
const title = `${book.name} | The Simple Bible`;
const description = "";
---

<Layout title={title} description={description}>
	<main class='wrapper'>
		<h1>{book.name}</h1>
		{book.chapters.map((chapter, index) => <Chapter book={book.name} chapter={chapter} index={index} />)}
	</main>
</Layout>
