---
export const prerender = true;

import slugify from "slugify";
import bible from "../content/esv.json";
import Layout from "../layouts/Layout.astro";
import Chapter from "../components/Chapter.astro";

// Generate static paths from book names
export async function getStaticPaths() {
	return Object.keys(bible).map((bookName) => ({
		params: { book: slugify(bookName, { lower: true }) },
		props: { bookName }
	}));
}

const { bookName } = Astro.props;
const book = bible[bookName];
const title = `${bookName} | The Simple Bible`;
const description = "";
---

<Layout title={title} description={description}>
	<main class='wrapper'>
		<h1>{bookName}</h1>
		{Object.entries(book).map(([chapterNumber, verses]) => (
			<Chapter
				book={bookName}
				chapterNumber={chapterNumber}
				verses={verses as Record<string, string>}
			/>
		))}
	</main>
</Layout>