---
interface Props {
	book: string;
	chapter: [];
	index: number;
}

const {book, chapter, index} = Astro.props;
---
<section class='chapter' id=`chapter-${index + 1}`>
	<h2>Chapter {index + 1}</h2>
	<nav>
		<ul>
			{chapter.map((verse, subindex) => (
					<>
					{subindex % 10 === 0 && (
						<li>
							<a href=`#chapter-${index + 1}-verse-${subindex + 1}`>
								{subindex + 1}-{chapter.length <= subindex + 10 ? chapter.length : subindex + 10}
							</a>
						</li>
					)}
					</>
			))}
		</ul>
	</nav>
	{chapter.map((verse, subindex) => (
		<p id=`chapter-${index + 1}-verse-${subindex + 1}` tabindex="0" data-book={book} data-chapter={index + 1} data-verse={subindex + 1}>
			{ subindex != 0  &&(
				<sup>{subindex + 1}</sup>
			)}
			<span>{verse}</span>
		</p>
	))}
</section>

<script>
	import Snackbar from "node-snackbar";

	const verses = document.querySelectorAll(".chapter p");
	
	verses.forEach(function (verse) {
		verse.addEventListener("click", async function () {
			const shareData = {
				title: `${verse.dataset.book} ${verse.dataset.chapter}:${verse.dataset.verse}`,
				text: verse.querySelector('span').textContent,
				url: window.location.href.split("#")[0] + "#" + verse.id
			};
			console.log(shareData);
			try {
				await navigator.share(shareData);
				Snackbar.show({
					actionTextColor: "var(--accent)",
					text: "Verse shared successfully."
				});
			} catch (error) {
				console.log(error)
			}
		});
	});
</script>

<style lang="scss">
	.chapter {
		scroll-margin-top: 3.5em;
		nav {
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				margin: 1rem 0;
			}
			li {
				font-size: 12px;
			}
		}
		h2 {
			margin: 3rem 0 0 0;
		}
		p {
			position: relative;
			scroll-margin-top: 3.5em;
			&:hover,
			&:focus {
				outline: 0 none;
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-thickness: 6px;
				text-decoration-color: var(--accent);
				text-decoration-skip-ink: none;
			}
			&:first-of-type {
				margin-top: 5rem;
				&::first-letter {
					font-size: var(--step-5);
					line-height: 0;
					font-weight: 200;
					margin-right: 5px;
				}
			}
		}
	}
</style>