---
export const prerender = true;

import slugify from "slugify";
import Layout from "../../layouts/Layout.astro";
import Chapter from "../../components/Chapter.astro";
import { bibleByTranslation } from "../../content/bibles";
import {
	defaultTranslationId,
	translationMeta,
	type TranslationId,
} from "../../content/translations";

export async function getStaticPaths() {
	return translationMeta.flatMap(({ id }) => {
		const bible = bibleByTranslation[id];
		return Object.keys(bible).map((bookName) => ({
			params: { translation: id, book: slugify(bookName, { lower: true }) },
			props: { bookName, translation: id },
		}));
	});
}

const { bookName, translation } = Astro.props;
const translationId = (translation as TranslationId) ?? defaultTranslationId;
const bible = bibleByTranslation[translationId] ?? bibleByTranslation[defaultTranslationId];
const book = bible[bookName];
const label =
	translationMeta.find(({ id }) => id === translationId)?.label ??
	defaultTranslationId.toUpperCase();
const title = `${bookName} (${label}) | The Simple Bible`;
const description = "";
---

<Layout title={title} description={description}>
	<main class='wrapper'>
		<h1>{bookName}</h1>
		{Object.entries(book).map(([chapterNumber, verses]) => (
			<Chapter
				translation={translationId}
				book={bookName}
				chapterNumber={chapterNumber}
				verses={verses as Record<string, string>}
			/>
		))}
	</main>
</Layout>
